
	<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>About Hackernews</h4>
                                        <p> This is a clone of <a href="http://https://news.ycombinator.com/">hackernews</a> in PHP. I created this for <a href="http://nextbighack.com">NextBigHack</a> </p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="http://hackerlabs.org">Blog</a><br/>
						<a href="http://nextbighack.com">Next Big Hack</a><br/>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>About Stanley Theme</h4>
                                        <p>Theme created by <a href="http://www.blacktie.co/2014/01/stanley-freelancer-theme/">blacktie.co</a>.</p>
				</div><!-- /col-lg-4 -->

			</div>

		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ theme_url }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>
